a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp
	{
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%
}

html,body {
	height: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

b,strong {
	font-weight: bold
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic
}

li {
	display: list-item
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th,td,caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left
}

svg {
	overflow: hidden
}

body {
	font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans,
		sans-serif
}

pre,code {
	font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0
}

h1 {
	font-size: 25px
}

h2 {
	font-size: 23px
}

h3 {
	font-size: 21px
}

h4 {
	font-size: 19px
}

h5 {
	font-size: 17px
}

h6 {
	font-size: 15px
}

ol {
	list-style: decimal
}

ul {
	list-style: disc
}

li {
	margin-left: 30px
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure {
	margin-bottom: 20px
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:before,.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:after {
	clear: both
}

.clearfix {
	zoom: 1
}

#footer .ui-icon {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: 20px;
	height: 20px
}

#footer .ui-icon-myapp-descuentos {
	background: url("/images/icons/descuentos.png") no-repeat !important
}

#footer .ui-icon-myapp-cajeros {
	background: url("/images/icons/cajeros.png") no-repeat !important
}

#footer .ui-icon-myapp-sucursales {
	background: url("/images/icons/sucursales.png") no-repeat !important
}

#footer .ui-icon-myapp-mas {
	background: url("/images/icons/mas.png") no-repeat !important
}

#footer .ui-header .ui-btn-inner,#footer .ui-footer .ui-btn-inner,#footer .ui-mini .ui-btn-inner
	{
	font-size: 10px;
	padding: .55em 0em .5em
}

#footer .ui-header .ui-btn-inner,#footer .ui-footer .ui-btn-inner,#footer .ui-mini .ui-btn-inner
	{
	padding: .55em 0 .5em
}

#footer .ui-btn-text {
	font-size: 9px;
	text-overflow: ellipsis;
	overflow: visible;
	white-space: normal
}

.background{
	background: url("../../images/Background_hd.jpg")
}
.float-rigth-beneficio{
    color: white;
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 99px;
    margin-right: 18px;
    margin-top: -3px;
    text-shadow: 1px 1px black;
}
.rigth-sucursal{
	color: white;
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin-right: 18px;
    margin-top: -25px;
    text-shadow: 1px 1px black;
}
.float-left{
	color: white;
    font-size: 16px;
    font-weight: normal;
    margin-right: 18px;
    margin-top: -25px;
    text-shadow: 1px 1px black;
}
.float{
   color: white;
    font-size: 16px;
    font-weight: normal;
    margin-left: 556px;
    margin-top: 1px;
    text-shadow: 1px 1px black;
}

.show {
	padding: 0
}

.show .padding {
	padding: 15px
}

.show p {
	margin-bottom: 5px
}

.show p.desc {
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 14px
}

.show .mapa a.see {
	padding: 0 15px
}

.show .mapa .map {
	margin-top: 10px;
	width: 100%;
	height: 200px
}

.show .mapa .map.with-banner {
	height: 140px
}

.show-benefit .title-image {
	position: relative
}

.show-benefit .title-image .title {
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	width: 100%
}

.show-benefit .title-image .title h1 {
	color: white;
	text-shadow: 1px 1px black;
	font-weight: normal;
	margin: 0;
	font-size: 19px
}

.show-benefit .title-image .image {
	min-height: 133px
}

.show-benefit .legales a {
	margin-bottom: 15px;
	float: right;
	background: #888;
	color: white;
	text-shadow: 1px 1px #555;
	text-decoration: none;
	padding: 7px 16px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
	background-image: linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -o-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -moz-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -webkit-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -ms-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #8c8c8c
		), color-stop(0.68, #999) )
}

.show-benefit .comoLlegar a {
	margin-bottom: -4px;
	float: right;
	background: #888;
	color: white;
	text-shadow: 1px 1px #555;
	text-decoration: none;
	padding: 7px 16px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
	margin-right: 120px;
	background-image: linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -o-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -moz-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -webkit-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -ms-linear-gradient(bottom, #8c8c8c 35%, #999 68%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #8c8c8c
		), color-stop(0.68, #999) )
}

.show-benefit .legales a:hover {
	background: #666;
	color: white
}

#index .content {
	padding-top: 0
}

#index ul li h3 {
	font-size: 14px;
	margin: 0;
	line-height: 20px
}

#index ul li p {
	margin: 0
}

#index ul li a {
	padding-top: 5px;
	padding-bottom: 5px
}

.show-cajero .image {
	float: left
}

.show-cajero .image img {
	width: 80px
}

.show-cajero .description {
	margin-left: 10px;
	float: left
}

.show-map {
	padding: 0
}

.show-map .map {
	width: 100%;
	height: 100%;
	min-height: 310px
}

.indexes .filter {
	background: #0081BF;
	height: 19px;
	padding: 10px;
	text-shadow: none
}

.indexes .ui-li-aside {
	width: 20%;
	margin-right: 10px;
	color: #26b7ec;
	font-weight: bold
}

.indexes.benefits .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,.indexes.benefits .ui-li-static.ui-li-has-thumb
	{
	padding-left: 52px
}

.ui-bar-e {
	border: none
}

#map_canvas img {
	max-width: none
}

#infowindow_content h4 {
	font-size: 13px;
	margin-bottom: 2px
}

#infowindow_content p {
	font-size: 12px;
	line-height: 1;
	font-weight: normal
}

table.registracion {
	width: 100%;
	border-collapse: collapse;
}

th.registracion,td.registracion {
	vertical-align: top;
	padding: 4px 10px;
}

img.beneficio-icon {
	padding: 5px;
	width: 30px;
	height: 30px;
}