<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "ar.com.bbva.francesgo.frontend.mobile"
	version 	= "1.0.0">

	<name>FrancesGO Mobile - Argentina</name>

	<description>
		FrancesGO Mobile Client for BVBA Frances Argentina
	</description>

	<author href="http://www.artdecode.com.ar"
		email="gustavo.garcia@artdecode.com.ar">
		Gustavo Felipe Garcia
	</author>

	<icon src="icon.png" gap:role="default" />
	<gap:splash src="splash.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
